@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    @apply text-gray-500
}


@theme {
    --breakpoint-xs: "480px";
    --breakpoint-sm: "768px";
    --breakpoint-md: "1060px";

    --color-gray-20: rgb(248, 244, 235);
    --color-gray-50: rgb(239, 230, 230);
    --color-gray-100: rgb(223, 204, 204);
    --color-gray-500: rgb(94, 0, 0);
    --color-primary-100: rgb(255, 225, 224);
    --color-primary-300: rgb(255, 166, 163);
    --color-primary-500: rgb(255, 107, 102);
    --color-secondary-400: rgb(255, 205, 91);
    --color-secondary-500: rgb(255, 193, 50);

    --font-dmsans: DM Sans, sans-serif;
    --font-montserrat: Montserrat, sans-serif;

    --bg-evolvetext: url('./assets/EvolveText.png')
}

@media (min-width: 1060px) {
    .flex-md {
      display: flex;
    }

    .h-full-md {
        height: 100%;
    }

    .justify-between-md {
        justify-content: space-between;
    }

    .md-mt-0 {
        margin-top: 0;
    }

  }

/* content: {
    evolvetext: "url('./assets/EvolveText.png')",
        abstractwaves: "url('./assets/AbstractWaves.png')",
        sparkles: "url('./assets/Sparkles.png')",
        circles: "url('./assets/Circles.png')",
} */